/*reset les paddings et margins auto en css*/ 
/* * {
padding: 0;
margin: 0;
} */

body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

.photo {
    border-width: 2px;
    border-style: solid;
    border-radius: 50% 50%;
    border-color: #FFFFFF;
}

.header {
  font-family: "Spartan", sans-serif;
  font-size: 40px; /*taille 38*/
  color: white;
}

.poste {
  font-family: "Lato", sans-serif;
  font-size: 18px; /*taille 11*/
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #7A071C;
  background-image: url("/slides_tech_startup_sky_lin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;

}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  align-items: flex-start;
}

.item_left {
  width: 60%;
  background-color: white;
  padding: 30px;
  /* padding-left: 20px; */
}

.item_right {
  width: 40%;
  /* padding-right: 20px; */
  /* padding: 20px; */
}

.item_right_top {
  background-color: rgba(122, 7, 28, 0.4); 
  padding: 30px;
}

.item_right_bottom {
  background-color: rgba(122, 7, 28, 0.2); 
  padding: 30px;
}

.sect_title {
  font-family: "Spartan", sans-serif;
  font-size: 20px; /*taille 12*/
  text-transform: uppercase;
  margin-block-start: 1.5em;
  margin-block-end: 1em;
}

.job_role {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-weight: bold;
  text-transform: uppercase;
  margin-block-start: 1.5em;
}

.society_date_place {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-style: italic;
}

.descrip {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
}

.list {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
  margin-block-start: 0;
  margin-block-end: 0;
}

.right_title {
  font-family: "Spartan", sans-serif;
  font-size:20px; /*taille 12*/
  text-align: center;
}

.center {
  font-family: "Lato", sans-serif;
  font-size: 16px; /*taille 9*/
  text-align: center;
}

.img_center {
  /* margin-left: auto;
  margin-right: auto; */
  /* text-align: center; */
  display: block;
  justify-content: center;
  width: 100%;
}

a {
    color: #7A071C;
}

a.link {
    text-decoration: none;
  }

.cat_skill {
  font-family: "Lato", sans-serif;
  font-size: 17px; /*taille 10*/
  font-style: italic;
  font-weight: bold;
}
